@model IEnumerable<Ticket>
<!DOCTYPE html>
<html xmlns= http://www.w3.org/1999/xhtml>
<head runat = "server">
    <meta charset="UTF-8">
    <title>Main Page</title>
    <meta name="description" content="My template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

#boxheads{
font-size: 30px;
background: rgb(85,85,255);
border: 0px;
}


  
/*______________Experimental Table Designs_____________________*/

#spacedTable{
width: 100%;
border-spacing: 30px 0;

}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
  
}
tr:hover{
background-color:grey;
color:white;
cursor:pointer;
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center;
}
button:hover{
color:white;
cursor:pointer;
}

/* -------------------THE MODAL (background) ----------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* -----------------MODAL CONTENT-------------------------- */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



/* -------------------The Modal Close Button -----------------------*/
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}



	
	
}

</style>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('table tbody tr').click(function(){
         alert($(this).text());
         
         });
      });
</script>


</head>
 <!--__________________________________MAIN PAGE_________________________-->
<body class="">
<header>(Add Logo Here)</header>
<button id="myBtn" style="background-color:green; hover: rgb(102, 255, 102); float:right; font-size: 40px">+</button>
<div style="background-color:rgb(85,85,255);color:white;padding:150px;">
<!--_____________________  LARGE NUMBER BOXES  _________________________ --> 
   








<table id = "spacedTable">  

  <tr>
    <th id = "boxheads">New</th>
    <th id = "boxheads">In-Progress</th>
    <th id = "boxheads">Closed</th>
  </tr>
  <tr>
    
    <td class ="user" style="text-align: center; font-size:80px;background-color: white; border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px; 
    width: 200px;
    height: 150px;"><a href="url">4</a></td>
    <td class =" "user" style="text-align: center; font-size:80px;background-color: white; border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px; 
    width: 200px;
    height: 150px;"><a href="url">10</a></td>
    <td class ="user" style="text-align: center; font-size:80px; background-color: white; border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px; 
    width: 200px;
    height: 150px;"><a href="url">15</a></td>
      <!--__________________________________Users Above / Admin Below___________________________________________-->
      <td class ="admin" style="text-align: center; font-size:80px;background-color: white; border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px;
    width: 200px;
    height: 150px;">
          <a href="url">4</a>
      </td>
      <td class ="admin" style="text-align: center; font-size:80px;background-color: white; border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px;
    width: 200px;
    height: 150px;">
          <a href="url">10</a>
      </td>
      <td class ="admin" style="text-align: center; font-size:80px; background-color: white; border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 15px;
    width: 200px;
    height: 150px;">
          <a href="url">15</a>
      </td>
  </tr>
</div> 
</table>
 

</div>
    <table>
        <tr><th>Description</th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>
   

    <br>


<!--_________________________  HTML Table w/ JavaScript/JQuery Growing Ticket-Listing Table _______________________-->
    <div style="overflow-x:auto;">
    <table align="center" width="100%" border="2">
        <thead>
          <tr>
            <th>ID</th>
            <th>Discription</th>
            <th>Date</th>
            <th>Priority</th>
          </tr>
       </thead>
       
       
       <tbody>
        <tr>
            <td align="center"> 1 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
        </tr>
        <tr>
            <td align="center"> 2 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
        <tr>
            <td align="center"> 3 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
        </tr>
        <tr>
            <td align="center"> 4 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
        </tr>
        <tr>
            <td align="center"> 5 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
        </tr>
        <tr>
            <td align="center"> 6 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
        </tr>
        <tr>
            <td align="center"> 7 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
        </tr>
        <tr>
            <td align="center"> 8 </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
            <td align="center"> test </td>
       </tr>
     </tbody>
   </table>
</div>

    <!-------------------------------- TRIGGER/OPEN MODAL ---------------------------------->
    
    <div id="myModal" class="modal">

    <!---------------------------------- MODAL CONTENT ------------------------------------->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Submit a Tick.IT</h2>
            </div>
            <div class="modal-body">
               <form action="" method= "get">
    <p>Subject: <input type="text" name="subject" value=""></p>
    <p>Select a category:<p>  <input type="Radio" name="category" value="Hardware"> Hardware (Laptop, Desktop,server, Screen...) <br>
	                          <input type="Radio" name="category" value="Software"> Software (Browsers, Office Software, Databases, Installation...)<br>
     
	 
	<p>Description: <textarea class="class-for-nic-transfomation" name="xml_memo_13" id="xml_memo_13" style="width: 400px; height: 200px;">
	 </textarea><input type="hidden" id="ActionDescriptionRichText" value=""></input></p>
							 
	 <p>Priority: <select name="Priority" size="1">
                  <option value="low" selected="selected">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>                
                  </select>	</p>	
      			  
</form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Submit" data-submit="modal" class="btn">
            </div>
        </div>

    </div>

    <script>
// -----------------Get the modal------------------
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (+), open the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
    </script>

</body>
</html>