
@{
    ViewBag.Title = "Main_Page";
}

<html>
<title>Tick.IT Ticket Page</title>

<header>Tick.IT *temp*</header>

<input type="button" value="Add Ticket" style="float: right;">
<table align="center" width="100" border="1">
    <br>
    <br>
    <br>
    <tr>
        <th>Unopen</th>
        <th>Open</th>
        <th>Closed</th>
    </tr>
    <td align="center" class="User"> 0 </td>
    <td align="center" class="User"> 0 </td>
    <td align="center" class="User"> 0 </td>
    <td align="center" class="Admin"> 1 </td>
    <td align="center" class="Admin"> 1 </td>
    <td align="center" class="Admin"> 1 </td>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p align="center"> Ticket Status *user* </p>
<p align="center"> Avaiable Tickets *admin* </p>
<table align="center" width="800" border="2">
    <tr>
        <th>ID</th>
        <th>Discription</th>
        <th>Date</th>
        <th>Priority</th>
    </tr>
    <tr>
        <td align="center"> test </td>
        <td align="center"> test </td>
        <td align="center"> test </td>
        <td align="center"> test </td>
    </tr>
    <td align="center"> test 2</td>
    <td align="center"> test </td>
    <td align="center"> test </td>
    <td align="center"> test </td>
</table>
</html>

